---
import { SITE } from "../config";
import SvgIcon from "./SvgIcon.astro";
import { Icon } from "astro-icon";
import ModeSwitcherBtn from "./ModeSwitcherBtn.svelte";
import SearchBtn from "./SearchBtn.svelte";
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";

const auth = getAuth(app);
let logged_in: boolean = false;
if (Astro.cookies.has("session")) {
    const sessionCookie = Astro.cookies.get("session")!.value;
    const decodedCookie = await auth.verifySessionCookie(sessionCookie);
    if (decodedCookie) {
        logged_in = true;
    }
}
---

<header class="header">
    <div class="header__logo">
        <a href="/" class="avatar">
            <img
                class="header__logo-img"
                src="/assets/logo.png"
                alt="Metarics logo"
            />
        </a>
    </div>
    <div class="header__meta flex-1">
        <h3 class="header__title dark:text-theme-dark-secondary">
            <a href="">{SITE.name}</a>
        </h3>
        <div class="header__meta-more md:flex">
            <p class="header__desc">
                {SITE.description}
            </p>
            <nav class="header__nav flex">
                <ul class="header__ref-list">
                    <li>
                        <SearchBtn client:visible />
                    </li>
                    {
                        logged_in ? (
                            <li>
                                <a href="/dashboard">
                                    <Icon class="h-6 w-6" name="mdi:account" />
                                </a>
                            </li>
                        ) : (
                            <>
                                <li>
                                    <a href="/signin">
                                        <Icon
                                            class="h-6 w-6"
                                            name="mdi:account"
                                        />
                                    </a>
                                </li>
                            </>
                        )
                    }
                    <li>
                        <a
                            href={SITE.githubUrl}
                            title={`${SITE.name}'s Github URL'`}
                        >
                            <Icon class="h-6 w-6" name="ri:github-line" />
                        </a>
                    </li>
                    <li>
                        <a
                            href={SITE.instagramUrl}
                            title={`${SITE.name}'s Instagram URL'`}
                        >
                            <Icon class="h-6 w-6" name="mdi:instagram" />
                        </a>
                    </li>
                    <li>
                        <a
                            href={SITE.whatsappUrl}
                            title={`${SITE.name}'s WhatsApp URL'`}
                        >
                            <Icon class="h-6 w-6" name="mdi:whatsapp" />
                        </a>
                    </li>
                    <!-- <li>
                        <a href={ SITE.githubUrl } title={`${ SITE.name }'s Github URL'`}>
                            <img height="32px" width="32px" src="./whatsapp-svgrepo-com.svg"/>
                        </a>
                    </li> -->
                    <!-- <li>
                        <a href="/rss.xml" title="RSS">
                            <SvgIcon>
                                <path d="M4 11a9 9 0 0 1 9 9"></path>
                                <path d="M4 4a16 16 0 0 1 16 16"></path>
                                <circle cx="5" cy="19" r="1"></circle>
                            </SvgIcon>
                        </a>
                    </li> -->
                    <li>
                        <ModeSwitcherBtn client:visible />
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<style>
    .header {
        @apply flex gap-4 border-b py-3 /* border-gray-200 dark:border-gray-700 - check styles/global.css */;
    }
    .header__logo-img {
        @apply w-16 h-16 rounded-full overflow-hidden;
    }
    .header__title {
        @apply text-4xl font-extrabold md:text-5xl text-theme-secondary dark:text-theme-dark-secondary;
    }
    .header__desc {
        @apply text-xl flex-1 dark:text-gray-200;
    }
    .header__ref-list {
        @apply flex gap-3 text-gray-400;
    }
</style>
